@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


/* Screens */
@import "/css/screens/write.css";
@import "/css/screens/chat.css";


body {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}